.contact_cont_wrap {
	position: relative;
	padding-bottom: 150px;
}
.contact_ul {
	display:flex;
}
.contact_list {
	width:50%; 
	display:flex; 
	align-items: center; 
	gap: 2rem;
}
.contact_list .icon_wrap {
	width: 92px; 
	height: 92px; 
	text-align: center; 
	border-radius: 50%; 
	background:#333; 
	position: relative;
}
.contact_list .icon_wrap .inbox {
	display: inline-block; 
	width:64px; 
	height: 60px; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
}
.contact_list .text_wrap {
	color:var(--white-color);
	font-family: 'Montserrat', dotum, sans-serif; 
}
.contact_list .text_wrap .title {
	font-size: 1rem; 
	font-weight:500; 
	padding-bottom:7px;
}
.contact_list .text_wrap .text {
	font-size: .9rem; 
	color:var(--white-color);
}
.contact_bg {
    position: absolute;
    font-size: 5rem;
    right: -10%;
    bottom: 0%;
    text-transform: uppercase;
    font-family: "Syncopate", serif;
    font-weight: bold;
    line-height: 1;
	overflow: hidden;
	height: 5rem;
	letter-spacing: -5px;
}
.text_ani {
    position: absolute;
    top: 0;
    color: rgb(182, 182, 182, .3);
    background: linear-gradient(to right, rgba(142, 114, 261, .3), rgba(142, 114, 261, .3)) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
    animation: textAni 3s linear infinite;
}
.contact_bg .text {
    color: rgba(255,255,255,.2);
}

@keyframes textAni {
    0% {
        background-size: 0%;
    }
    100% {
        background-size: 100%;
    }
  }


  
/* 반응형 */
@media screen and (max-width:1024px) {
    .contact_bg {
        font-size: 4rem;
    }
	.contact_list .icon_wrap {
		width: 85px; 
		height: 85px;
	}
	.contact_list .icon_wrap .inbox {
		width:60px; 
		height: 56px; 
	}
}
@media screen and (max-width:768px) {
	.contact_list {
		width:100%;
		gap: 1.5rem;
	}
	.contact_list .icon_wrap {
		width: 80px; 
		height: 80px;
	}
	.contact_list .icon_wrap .inbox {
		width: 55px; 
		height: 50px; 
	}
}
@media screen and (max-width:570px) {
	.contact_ul {
		flex-wrap: wrap;
		gap: 2rem;
	}
	.contact_list .icon_wrap {
		width: 70px; 
		height: 70px;
	}
	.contact_list .icon_wrap .inbox {
		width: 50px; 
		height: 45px; 
	}
	.contact_cont_wrap {
		padding-bottom: 100px;
	}
}
@media screen and (max-width:375px) {
    .contact_bg {
        font-size: 2.6rem;
		letter-spacing: -3px;
    }
	.contact_cont_wrap {
		padding-bottom: 70px;
	}
}