.contact_ul {
	display:flex;
}
.contact_list {
	width:50%; 
	display:flex; 
	align-items: center; 
	gap: 40px;
}
.contact_list .icon_wrap {
	width: 92px; 
	height: 92px; 
	line-height: 92px; 
	text-align: center; 
	border-radius: 50%; 
	background:#333; 
	position: relative;
}
.contact_list .icon_wrap .inbox {
	display: inline-block; 
	width:64px; 
	height: 60px; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
}
.contact_list .text_wrap {
	color:var(--white-color);
	font-family: 'Montserrat', dotum, sans-serif; 
}
.contact_list .text_wrap .title {
	font-size:20px; 
	font-weight:500; 
	padding-bottom:7px;
}
.contact_list .text_wrap .text {
	font-size:18px; 
	color:var(--white-color);
}



.contact_bg {
    position: absolute;
    font-size: 5rem;
    right: -10%;
    bottom: 0%;
    text-transform: uppercase;
    font-family: "Syncopate", serif;
    font-weight: bold;
    line-height: 1;
	overflow: hidden;
	height: 5rem;
}
.text_ani {
    position: absolute;
    top: 0;
    color: rgb(182, 182, 182, .3);
    background: linear-gradient(to right, rgba(142, 114, 261, .3), rgba(142, 114, 261, .3)) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
    animation: textAni 3s linear infinite;
}
.contact_bg .text {
    color: rgba(255,255,255,.2);
}
.contact_cont_wrap {
	position: relative;
	padding-bottom: 150px;
}

@keyframes textAni {
    0% {
        background-size: 0%;
    }
    100% {
        background-size: 100%;
    }
  }


/* 반응형 */
@media screen and (max-width:1024px){
	.contact_list {gap: 30px;}
	.contact_list .icon_wrap {width: 86px; height: 86px; line-height:86px;}
	.contact_list .icon_wrap img {width: 56px;}
	.contact_list .text_wrap .title {font-size: 18px;}
	.contact_list .text_wrap .text {font-size: 16px;}
}
@media screen and (max-width:768px){
	.contact_list {gap:23px;}
	.contact_list .icon_wrap {width:75px; height:75px; line-height:75px;}
	.contact_list .icon_wrap img {width:48px;}
	.contact_list .text_wrap .title {font-size: 16px;}
	.contact_list .text_wrap .text {font-size: 14px;}
}
@media screen and (max-width:680px){
	.contact_ul {flex-wrap: wrap; gap: 30px;}
	.contact_list {width:100%;}
}
@media screen and (max-width:570px){
	.contact_list {gap:20px;}
	.contact_list .icon_wrap {width:60px; height:60px; line-height:60px;}
	.contact_list .icon_wrap img {width:38px;}
	.contact_list .text_wrap .title {font-size: 14px;}
	.contact_list .text_wrap .text {font-size: 12px;}
}

@media screen and (max-width:375px){
	.contact_list {gap:15px;}
	.contact_list .icon_wrap {width:54px; height:54px; line-height:54px;}
	.contact_list .icon_wrap img {width:32px;}
	.contact_list .text_wrap .title {font-size:4vw; padding-bottom: 5px;}
	.contact_list .text_wrap .text {font-size:3.4vw;}
}
