
.top_btn_wrap {
    position: fixed;
    bottom: 5%;
    right: 1rem;
    z-index: 9;
}
.top_btn_wrap button {
    width: 60px;
    height: 60px;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.icon_wrap {
    width: 24px;
    height: 36px;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.footer {
    border-top: 1px solid var(--black-color); 
    padding: 35px 0; 
    color: var(--white-color);
}
.ft_top_wrap {
    text-align: right;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #777;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
.ft_top_wrap > a {
    display: inline-block;
}
.ft_top_wrap .icon_wrap {
    display: block;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}
.ft_bottom_wrap {
    display: flex; 
    align-items: flex-end; 
    justify-content: space-between;
}
.ft_contact_list {
    display: flex; 
    gap: 4rem;
}
.ft_contact_list > li .title {
    font-size:.9rem; 
    font-weight:500; 
    font-family: 'Montserrat', dotum, sans-serif; padding-bottom: 7px;
}
.ft_contact_list > li .text {
    display:block; 
    color:var(--white-color); 
    font-size: .7rem; 
    font-family: 'Montserrat', dotum, sans-serif; letter-spacing: .5px;
}
.ft_copyright_wrap > .copyright_text {
    font-family: 'Montserrat', dotum, sans-serif; 
    font-size: .7rem; 
    color:#777;
}

/* 반응형 */
@media screen and (max-width:1024px){
    .top_btn_wrap button {
        width: 50px;
        height: 50px;
    }
    .icon_wrap {
        width: 18px;
        height: 27px;
    }
}
@media screen and (max-width:768px){
    .footer {
        padding: 35px 0 20px; 
    }
    .ft_bottom_wrap {
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (max-width:480px){
    .ft_top_wrap {
        padding-bottom: .7rem;
        margin-bottom: .7rem;
    }
    .top_btn_wrap {
        bottom: 3%;
    }
    .top_btn_wrap button {
        width: 46px;
        height: 46px;
    }
    .icon_wrap {
        width: 16px;
        height: 24px;
    }
}
@media screen and (max-width:375px){
    .footer {
        padding: 25px 0 10px; 
    }
    .ft_top_wrap .icon_wrap {
        width: 20px;
        height: 20px;
    }
    .top_btn_wrap button {
        width: 40px;
        height: 40px;
    }
    .icon_wrap {
        width: 14px;
        height: 20px;
    }
}
@media screen and (max-width:320px){
    .ft_contact_list {
        gap: 3rem;
    }
}
