.history_cont_wrap {
    color: var(--white-color);
    margin-top: 150px;
    padding-bottom: 10rem;
    position: relative;
}
.history_cont_wrap > ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.date {
    font-size: .8rem;
    color: #ccc;
}
.company {
    position: relative;
    font-size: 1rem;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}
.company::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--sub-color);
    border-radius: 50%;
}
.job {
    font-size: .8rem;
}
.line {
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--white-color);
    left: 0;
    top: 48px;
    z-index: -1;
}
.history_bg {
    position: absolute;
    font-size: 5rem;
    right: -10%;
    bottom: 0%;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 1;
	overflow: hidden;
	height: 5rem;
}
.text_ani {
    position: absolute;
    top: 0;
    color: rgb(182, 182, 182, .3);
    background: linear-gradient(to right, rgba(142, 114, 261, .3), rgba(142, 114, 261, .3)) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
    animation: textAni 3s linear infinite;
}
.history_bg .text {
    color: rgba(255,255,255,.2);
}

@keyframes textAni {
    0% {
        background-size: 0%;
    }
    100% {
        background-size: 100%;
    }
  }
