.profile_bg {
    position: absolute;
    font-size: 5rem;
    right: -10%;
    bottom: 0%;
    text-transform: uppercase;
    font-family: "Syncopate", serif;
    font-weight: bold;
    line-height: 1;
	overflow: hidden;
	height: 5rem;
    letter-spacing: -5px;
}
.text_ani {
    position: absolute;
    top: 0;
    color: rgb(182, 182, 182, .3);
    background: linear-gradient(to right, rgba(142, 114, 261, .3), rgba(142, 114, 261, .3)) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
    animation: textAni 3s linear infinite;
}
.profile_title_wrap > h3 {
    color: var(--white-color);
    font-size: 1.6rem;
    line-height: 1.4;
    word-break: keep-all;
}
.profile_title_wrap > h3 > span {
    position: relative;
    display: inline-block;
}
.profile_text_wrap {
    margin-top: 2rem;
}
.profile_text_wrap > p {
    color: var(--white-color);
    font-size: .9rem;
    line-height: 1.5;
    word-break: keep-all;
}
.profile_right_wrap {
    margin-top: 4rem;
    opacity: 0;
}
.profile_cont_wrap {
    display: flex;
    gap: 10rem;
    position: relative;
}
.profile_img_wrap {
    position: relative; 
    width: 300px;
    height: 370px;
}
.profile_img_wrap .inbox {
    position: relative;
    height: 100%;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    transform: rotate(-10deg);
}
.profile_img_wrap:before {
    content:""; 
    position:absolute; 
    top: 0;
    left: 0;
    width:100%; 
    height:100%; 
    border:1px solid var(--white-color); 
    opacity: .7;
    z-index: 1;
}
.profile_infor_wrap {
    flex: 1;
    position:relative; 
    color:var(--white-color);
    margin-top: 3.5rem;
}
.profile_infor_wrap ul > li {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.profile_infor_wrap ul > li .title {
    width: 110px;
    font-size: 1rem; 
    font-weight: bold; 
    color: var(--sub-color); 
    font-family: 'Montserrat', dotum, sans-serif;  
    letter-spacing: -.5px;
}
.profile_infor_wrap ul > li .text {
    font-size: .9rem; 
    font-weight: 300; 
    letter-spacing: .7px;
    word-break: keep-all; 
    line-height: 1.4;
    white-space: nowrap;
}

@keyframes textAni {
    0% {
        background-size: 0%;
    }
    100% {
        background-size: 100%;
    }
  }


/* 반응형 */
@media screen and (max-width:1280px) {
    .profile_cont_wrap {
        gap: 7rem;
    }
}
@media screen and (max-width:1024px) {
    .profile_img_wrap {
        width: 250px;
        height: 320px;
    }
    .profile_cont_wrap {
        gap: 6rem;
    }
    .profile_infor_wrap ul > li .title {
        width: 90px;
    }
    .profile_bg {
        font-size: 4rem;
    }
}
@media screen and (max-width:768px) {
    .profile_img_wrap {
        width: 200px;
        height: 260px;
    }
    .profile_cont_wrap {
        gap: 4rem;
    }
    .profile_infor_wrap ul > li .title {
        width: 75px;
    }
    .profile_bg {
        bottom: -10%;
    }
    .profile_right_wrap {
        margin-top: 2rem;
    }
}

@media screen and (max-width:600px) {
    .profile_cont_wrap {
        flex-direction: column; 
        gap: 2rem;
    }
    .profile_left_wrap {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    .profile_infor_wrap {
        margin-top: 0;
    }
    .profile_img_wrap {
        width: 180px;
        height: 230px;
    }
    .profile_title_wrap > h3 {
        font-size: 1.3rem;
    }
    .profile_text_wrap {
        margin-top: 1rem;
    }
    .profile_bg {
        bottom: initial;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media screen and (max-width:480px) {
    .profile_img_wrap {
        width: 165px;
        height: 205px;
    }
    .profile_infor_wrap ul > li .title {
        width: 100%;
    }
    .profile_infor_wrap ul > li {
        flex-direction: column;
        gap: .5rem;
    }
    .profile_left_wrap {
        gap: 4rem;
    }
}
@media screen and (max-width:375px) {
    .profile_img_wrap {
        width: 135px;
        height: 175px;
    }
    .profile_left_wrap {
        gap: 2rem;
    }
    .profile_cont_wrap {
        gap: 3rem;
    }
    .profile_bg {
        font-size: 2.6rem;
        letter-spacing: -3px;
    }
    .profile_cont_wrap {
        gap: 1rem;
    }
    .profile_infor_wrap {
        margin-top: -30px;
    }
}