.profile_skill_wrap {
    position: relative;
}
.profile_skill_list {
    position: relative;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
} 
.profile_skill_list > li {
    margin-bottom: 20px;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    padding: 50px 50px 30px;
    position: relative;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    background-color: var(--black-color);
    transition: all .2s;
    transform-origin: center right;
    width: calc((100% - 2rem) / 2);
}
.profile_skill_list > li > .title {
    color: var(--white-color);
    font-size: 1.2rem;
    /* font-size: 1rem; */
    font-weight: 500;
    font-family: 'Montserrat', dotum, sans-serif;
    display: inline-block;
    position: absolute;
    background: var(--black-color);
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0 10px;
}
.skill_category_list {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}
.skill_category_list .icon_wrap {
    width: 80px;
    height: 80px;
    position: relative;
    background-color: var(--white-color);
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid var(--white-color);
}
.skill_category_list .icon_wrap > img {
    width: 70% !important;
    height: 70% !important;
    top: 50% !important;
    right: initial !important;
    transform: translate(-50%, -50%);
    left: 50% !important;
}
.skill_category_list > li > p {
    color: var(--white-color);
    margin-top: .8rem;
    font-size: .9rem;
}
.skill_bg {
    position: absolute;
    font-size: 5rem;
    color: var(--main-color);
    opacity: .2;
    right: -10%;
    /* bottom: -10%; */
    top :50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 1;
	overflow: hidden;
	height: 5rem;
}
@media (hover: hover) {
}