.visual_wrap {
    padding-top: 120px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}
.text_wrap {
    font-family: "Syncopate", serif;
    color: var(--white-color);
}
.text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}
.big_text_box {
    text-align: right;
}
.small_text_box {
    opacity: 0;
    text-align: center;
}
.big_text {
    font-size: 12vw;
    font-weight: bold;
}
.small_text {
    font-weight: 500;
    font-size: 10vw;
}
.arrow_down {
    position: absolute;
    width: 3rem;
    height: 3rem;
    filter: invert(1);
    left: 50%;
    bottom: 8%;
    transform: translate(-50%, 0);
	animation: arrowUpDown 1.5s infinite;
}


@keyframes arrowUpDown {
	0% {
        transform: translate(-50%, 0);
	}
	50% {
        transform: translate(-50%, -10px);
	}
	100% {
        transform: translate(-50%, 0);
	}
}